body{
    display: flex;
    background-image: url("../images/bg2.jpeg");
    min-height: 100px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
} 

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header a{
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 30px;
}

header a:hover{
  background:white;
  color: #2b1055;
}


.box{
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 1000px;
    min-height: 1000px;
    background: aqua;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0.5)
    margin-top: 300px;
}

.box1{
    position: relative;
    background: aqua;
    padding: 60px;
} 

.car{
  position: relative;
  color: black;
  text-align: left;
  left: 15px;
  top: 10px;
  border-bottom: 2px solid;
}

.qualification{
  border-bottom: 2px solid;
  border-color: black;
}
.work{
  border-bottom: 2px solid;
  border-color: black;
}
.educ{
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-color: black;
}

.box2{
    position: relative;
    background: black;
    padding: 60px;
}

.name{
  position: relative ;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 10px ;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-color: mistyrose;
  margin-top: 210px;
}

.box2 img{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  position: absolute;
  margin-top: 20px;
  margin-left: 1px;
}

.name h2{
  color: white;
  font-size: 1.5em;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1em;
}

.name h2 span{
  font-size: 0.8em;
  font-weight: 500;
}

.personalinfo{
  text-align: left;
  color: white;
}

.personalinfo ul{
  list-style:none;
  text-align: left;
  margin-left: -70px;
}

.contact
{
  position:absolute;
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top:500px;
  margin-left: 610px;
}
