*
{
  margin: 0px;
  padding: 0px;
}

body
{
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg2.jpeg");
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

header a
{
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 30px;
}

header a:hover
{
  background:white;
  color: #2b1055;
}

.box
{
  background-color: #81d8d0;
  width: 700px;
  height: 1300px;
  margin-top: 250px;
  margin-left: 140px;
  margin-right: 250px;
  position: absolute;
  box-shadow: 10px 10px 5px lightgrey;
}

.box1
{
  background-color: #296d98;
  width: 700px;
  height: 150px;
  margin-top: 10px;
  margin-right: 250px;
  position: absolute;
}

.name
{
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder; 
  color: white;
  margin-top: 55px;
  margin-left: 30px;
  position: absolute;
}

.box2
{
  background-color: #1c4966;
  width: 200px;
  height: 1300px;
  margin-left: 490px;
  position: absolute;
}

.line
{
  background-color: #52b2bf;
  width: 700px;
  height: 20px;
  margin-top: 30px;
  margin-left: 0px;
  position: absolute;
}

.myd
{
  height: 150px;
  width: 150px;
  margin-top: 25px;
  margin-left: 27px;
  border-radius: 10%;
  position: absolute;
}

.profile
{
  
}

.profile h3
{
  color: white;
  margin-top: 200px;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
}

.profile p
{
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.contacts h3
{
  color: white;
  margin-top: 30px;
  margin-left: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.contacts h4
{
  margin-top: 20px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: white;
}

.contacts h5
{
  margin-top: 40px;
  margin-left: 13px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: absolute;
}

.cp h4
{
  margin-top: 95px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: absolute;
}

.cp h5
{
  margin-top: 115px;
  margin-left: 13px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: absolute;
}

.email h4
{
  margin-top: 150px;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: absolute;
}

.email h5
{
  margin-top: 170px;
  margin-left: 13px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 10px;
  position: absolute;
}

.objectives
{
   margin-top: 0px;
}

.objectives li
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  list-style-type: circle;
  margin-top: 190px;
  margin-left: 20px;
  list-style: none;
 
}

.objectives h5
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 70px;
}

.objectives
{
  margin-top: 30px;
}

.qlf 
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  list-style-type: circle;
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
  
}

.qlf ul
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 70px;
}

.work li
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  list-style-type: circle;
  margin-top: 5px;
  margin-left: 20px;
  list-style: none;
}

.wrk ul
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 90px;
}

.wrk p
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 10px;
}
.workexperience
{
  margin-top: 20px;
}

.ach
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  list-style-type: circle;
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
}

.ach ul
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 70px;
}

.educb
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  list-style-type: circle;
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
}

.educb ul
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 10px;
}

.design .sq1
{
  border-color: #05354c;
  border-style: solid;
  border-width: 15px;
  width: 120px;
  height: 120px;
  position: relative;
  margin-left: -20px;
  margin-top: -5px;
}

.design .sq2
{
 
  border-color: #0f96d4;
  border-style: solid;
  border-width: 15px;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -20px;
  margin-top: -180px;
}

.design .sq3
{
 
  border-color: #095b81;
  border-style: solid;
  border-width: 15px;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-left: 70px;
  margin-top: -110px;
}

.design .sq4
{
 
  border-color: 17aaee;
  border-style: solid;
  border-width: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: 200px;
  margin-top: -90px;
}

.design .sq5
{
 
  border-color: #b6e4f9;
  border-style: solid;
  border-width: 15px;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 140px;
  margin-top: -135px;
}

.design .sq6
{
 
  border-color: #0c76a7;
  border-style: solid;
  border-width: 15px;
  width: 90px;
  height: 90px;
  position: absolute;
  margin-left: 350px;
  margin-top: -120px;
}

.design .sq7
{
 
  border-color: #06405b;
  border-style: solid;
  border-width: 15px;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 370px;
  margin-top: -160px;
}

.design .sq8
{
 
  border-color: #72cbf4;
  border-style: solid;
  border-width: 15px;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 310px;
  margin-top: -140px;
}

.design .sq9
{
 
  border-color: #042b3c;
  border-style: solid;
  border-width: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: 255px;
  margin-top: -110px;
}

.design
{
  margin-top: 80px;
  margin-left: 20px;
}