*
{
  margin: 0px;
  padding: 0px;
}

body
{
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg2.jpeg");
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header a
{
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 30px;
  border-bottom: 5px;
  border-bottom-color: black;
}

header a:hover
{
  background:white;
  color: #2b1055;
}

.box
{
  background-color: #29bfd0;
  width: 700px;
  height: 1200px;
  margin-top: 1300px;
  margin-left: 220px;
  margin-right: 250px;
  position: absolute;
  box-shadow: 10px 10px 5px lightgrey;
}

.mparents
{
  height: 350px;
  width: auto;
  margin-top: 600px;
}

.jmom
{
  height: 300px;
  width: auto;
  margin-top: -2000px;
  margin-left: 300px;
}

.jdad
{
  height: 400px;
  width: auto;
  margin-top: -1000px;
  margin-left: 400px;
}

.line
{
  width: 800px;
  height: 100px;
  background-color: #054E5F;
  margin-top:-100px;
  position: absolute ;
  margin-left: -50px;
}

.pictures
{
  opacity: 1;
  margin-top: 200px;
}

.letter
{
  margin-top: -1100px;
  margin-left: 100px;
  font-family: 'Courier New', Courier, monospace;
  width: 500px;
  text-align: center;
  font-weight: bolder;
}
