*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 8%;
  position: relative;
  background-attachment: fixed;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li
{
  list-style: none;
  margin-left: 20px;
}

header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
  background:white;
  color: #2b1055;
}

h2
{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 30px;
}

.w1
{
  width: 1000px;
  height: 300px;
  background-color: #528AAE;
  border-radius: 10%;
  position: absolute;
  margin-top: 100px;
  opacity: 0.5;
  margin-left: 30px;
}

.w1 img
{
  width: 250px;
  height: 250px;
  border-color: #0d344d;
  border-width: 10px;
  border-radius: 20%;
  margin-top: 25px;
  margin-left: 25px;
  opacity: 0.8;
}

.w1 a
{
  text-decoration: none;
}

.w1 h2
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: -200px;
  margin-left: 300px;
  color: white;
}

.w1 h1
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 50px;
  margin-top: 10px;
  margin-left: 300px;
  color: white;
}

.w1:hover
{
  background: #1C2E4A;
  color: #2b1055;
  width: 1000px;
  height: 300px;
  opacity: 1.0;
}


.w2
{
  width: 1000px;
  height: 300px;
  background-color: #528AAE;
  border-radius: 10%;
  position: absolute;
  margin-top: 450px;
  margin-left: 30px;
  opacity: 0.5;
}

.w2 img
{
  width: 250px;
  height: 250px;
  border-color: #00154D;
  border-radius: 20%;
  margin-top: 25px;
  margin-left: 25px;
  opacity: 0.8;
}

.w2 h1
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 50px;
  margin-top: -200px;
  margin-left: 300px;
  color: white;
}

.w2 a
{
  text-decoration: none;
}

.w2:hover
{
  background: #1C2E4A;
  color: #2b1055;
  width: 1000px;
  opacity: 1.0;
}
